.Data{
        width:500px;
        height:570px;
        padding:20px;
        background:rgb(221, 127, 19);
        position: fixed;
        top: 30%;
        left: 50%;
        margin-top: -120px;
        margin-left: -220px;
    }


